


<p> <br/>
  
 
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <h2>Students</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Class Year</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Select</th>
        <th></th>
      </tr>
    </thead>
    <% 
    @all_students.each do |id, lastname, firstname, major, email, classyr, graduated| %>

    <a href="/Students/<%= id %>">
    <tbody>
      <tr>
        <td><%=firstname%></td>
        <td><%=lastname%></td>
        <td><%=email%></td>
        <td><%=major%></td>
        <td><%=classyr%></td>
        <td><%=graduated%></td>
        <td><a href="/Students/<%= id %>/edit" class='btn btn-primary'>Edit</a></td>
        <td><a href = "/Students/<%= id %>/delete" class='btn btn-info'>Delete</a></li></td>
        <td><a href = "/Students/<%= id %>" class='btn btn-danger'>Select</a></li></td>
        <% end %>
      </tr>
      
    </tbody>
  </table>


</body>
</html>

    
</p>