#put html/ruby code here

<p>
    the students we have in the array includes: <br />
    <ul> #unordered list
        <% @all_students.each do |id, lastname, firstname, major, email, classyr, graduated| %>
        
            <li><a href="/Students/<%= id %>"><%=lastname%> | <%=firstname%> | <%=major%> | <%=email%> | <%=classyr%> | <%=graduated%> | </a> | <a href="/Students/<%= id %>/edit" class='btn btn-primary'>Edit</a> | <a href = "/Students/<%= id %>/delete" class='btn btn-danger'>Delete</a></li>

            </li>
        <% end %>
     
    </ul>
    
</p>