<p>
        the student you selected is: <br />
        
        <ul> 
        <li> <%= @one_student[0][1] %> | <%= @one_student[0][2] %> | <%= @one_student[0][3] %> | <%= @one_student[0][4] %> | <%= @one_student[0][5] %> | <%= @one_student[0][6] %></li></ul>
        
        
</p>