<form class="form-horizontal" action = 'https://newjersey-lenali.c9users.io/Students/<%=@one_student[0][0]%>' method=get>

<p> <br/>
  
 
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    
<style>

div {
  border-left: double;
  border-color: #EBD9DB;
}{
  
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #EBD9DB;
}
.table {
  table-layout: auto;
  width: 930px; 
}

</style>
  <h2 style="font-family:verdana;">Student:  </h2>
  <h3 style="font-family:verdana;font-style:italic;">
  <td><%=@one_student[0][2]%></td>
  <td><%=@one_student[0][1]%></td>
  &nbsp;&nbsp;&nbsp;&nbsp;
 <td><a href="/Students/<%= @one_student[0][0] %>/edit" class='btn btn-default'>Edit</a></td>
 <td><a href = "/Students/<%=@one_student[0][0] %>/delete" class='btn btn-default'>Delete</a></li></td>
   </h3>
   </br>
  <table class="table table-hover" style="font-family:georgia, garamond,serif;">
    <thead>
      <tr>
        <th >First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Class Year</th>
        <th>Graduated</th>
         <th></th>
      </tr>
    </thead>

    <tbody style="font-family:georgia, garamond,serif;">
      <tr>
        <td ><%=@one_student[0][2]%></td>
        <td><%=@one_student[0][1]%></td>
        <td><%=@one_student[0][4]%></td>
        <td><%=@one_student[0][3]%></td>
        <td><%=@one_student[0][5]%></td>
        <td><%=@one_student[0][6]%></td>
        
      </tr>
      
    </tbody>
  </table>

</body>
</html>

    
</p>

